<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
				body{
  	
  	margin: 0;
  	padding: 0;
  	font-family: sans-serif;
  
}
.div{
  	
  	height: 450px;
  	width: 450px;
  	position:absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%,-50%);
  	
  
}

.div a {
	text-decoration: none;
	color: black;
	margin-left:30%;
	margin-top: 10px;
}
.div input{
 	
 	width: 80%;
 	border:none;
  	border-bottom: 1px solid ;
  	outline: none;
  	background: none;
  	color: black;
  	font-size: 18px;
  	margin: 0 0px;
}

#button{
	width: 150px;
	height: 50px;
	font-family: arial;
	border-radius: 10px;
	margin-top:20px;
	margin-left: 25%;
	cursor: pointer;

}
		
	</style>
</head>
<body>
	<div class="div">
<%= form_for ContaRecerbe.new  do |f| %>
	<p>Data prevista a receber</p>
		<input type="date" name="recebemento[data_pagamento]">

	<p>Valaor da conta</p>
		<input type="number" name="recebemento[valor_contar]">

	<p>Juros</p>
		<input type="number" name="recebemento[juros]">
	<p>Multa</p>
		<input type="number" name="recebemento[multa]" >
		
	<p>Desconto</p>
		<input type="number" name="recebemento[desconto]" >
	<button type="submit" id="button">Cadastra</button><p id="p"><a href="/">Voltar ao inicio</a></p>

	
<%end%>
</div>
</body>
</html>