<!DOCTYPE html>
<html >
<head>
   <style type="text/css">
 	body{
  	
  	margin: 0;
  	padding: 0;
  	font-family: sans-serif;
  
}
.div{
  	
  height: 400px;
  width: 680px;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  
}
.div input{
  border:none;
  border-bottom: 1px solid ;
  outline: none;
  background: none;
  color: black;
  font-size: 18px;
  
  margin: 0 20px;
}
.div_b{
	margin-left:50%;
	margin-top: -45%;

}
#button{
	width: 100px;
	height: 50px;
	font-family: arial;
	border-radius: 10px;
	margin-top:20px;
	cursor: pointer;

}
 </style>
</head>
<body>
	<div class="div">
	<%= form_for Cliente.new do |f| %>
	<div class="div_a">
<p>Nome</p>
<input type="text" name="cliente[nome]">

<p>Endereço</p>
<input type="text" name="cliente[endereco]">

<p>Telefone</p>
<input type="text" name="cliente[telefone]">

<p>CPF</p>
<input type="text" name="cliente[cpf]">
</div>
<div class="div_b">
<p>RG</p>
<input type="text" name="cliente[rg]">

<p>CNPJ</p>
<input type="text" name="cliente[cnpj]">

<p>Insrição Estadual</p>
<input type="text" name="cliente[inscricao_estadual]">

	<button type="submit" id="button">Cadastra</button>
</div>
<% end %>
</div>
</body>
</html>
