<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<%= form_for  ContaPaga.new do |f| %>
		<p>Data prevista</p>
		<input type="date" name="pago[data_pagamento]">

	<p>Valaor da conta</p>
		<input type="number" name="pago[valor_contar]">

	<p>Juros</p>
		<input type="number" name="pago[juros]">
	<p>Multa</p>
		<input type="number" name="pago[multa]" >
		
	<p>Desconto</p>
		<input type="number" name="pago[desconto]" >
	<button type="submit" id="button">Cadastra</button><p id="p"><a href="/">Voltar ao inicio</a></p>
	<% end %>
</body>
</html>