<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <style type="text/css">
        body{
    background: black;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  
}
      .button{
        
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        height: 400px;
        width: 800px;
        position:absolute;
      }
      .button button{
        width: 120px;
        height: 80px;
        border-radius: 20px;
        font-size: 15px;
        cursor: pointer;
      }
      .button a {
        color: black;
        text-decoration:none


      }
      





    </style>
  </head>

  <body >
    <div id="a"></div>
    <div id="b"></div>    
    <div class="button">
<button><a href="/cadastro/cadastro-cliente"> Cadastro do Cliente</a></button>
<button><a href="/cadastro/cadastro-fornecedor">Cadastro do Fornecedo</a></button>
<button><a href="/cadastro/cadastro-conta_paga">Cadastro da Conta paga</a></button>
<button><a href="/cadastro/cadastro-conta_receber">Cadastro da Conta receber</a></button>
<button><a href="/cadastro/cadastro-funcionario">Cadastro do Funcionario</a></button>
<button><a href="/cadastro/cadastro-funcionario">Cadastro do Funcionario</a></button>

</div>
  </body>
</html>